<div class="account-management-container-view">
    <div class="container">
        <h1>Welcome to your account management page!</h1>
        <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
            <div class="flash-messages">
                <% messages.forEach(function(message) { %>
                    <div class="flash-message">
                        <%= message %>
                    </div>
                <% }); %>
            </div>
        <% } %>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <div class="error-messages">
                <% errors.forEach(function(error) { %>
                    <div class="error-message">
                        <%= error %>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>





 