<div class="account-management-container-view">
    <div class="container">
        <h1 class="account-management-title">Welcome to your account management page!</h1>
        <p>You're logged in.</p>
        <a class="link-for-edit-account" href="/#">Edit your account</a> 
        <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
            <div class="flash-messages">
                <% messages.forEach(function(message) { %>
                    <div class="flash-message">
                        <%= message %>
                    </div>
                <% }); %>
            </div>
        <% } %>
        <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
            <div class="error-messages">
                <% errors.forEach(function(error) { %>
                    <div class="error-message">
                        <%= error %>
                    </div>
                <% }); %>
            </div>
        <% } %>
    </div>
</div>

<div class="inventory-management-container">
    <div class="container">
        <h2 class="account-management-inventory-title">Inventory Management</h2>
        <a class="link-for-inventory-management" href="/inv">Manage your inventory.</a> 
    </div>
</div>





 