
<section>
    <div>
        <h3>Welcome to CSE Motors!</h3>
    </div>

    <section>
        <div>
            <img 
                src="/images/vehicles/delorean.jpg" 
                alt="A nice and stylized futuristic gray car"
            >
        </div>

        <div>
            <h4>DMC Delorean</h4>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dicel</li>
            </ul>
            <button>Own today</button>
        </div>
    </section>

 </section>