
<section>
    <div>
        <h3>Welcome to CSE Motors!</h3>
    </div>

    <section id="car-ad">
        <div id="main-car">
            <img 
                id="portal-car"
                src="/images/vehicles/delorean.jpg" 
                alt="A nice and stylized futuristic gray car"
            >
        </div>

        <div id="car-info">
            <h4>DMC Delorean</h4>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dicel</li>
            </ul>
            <button id="button-ad">Own Today</button>
        </div>
    </section>

 </section>