
<!-- main section -->
<section id="main-page">
    <div class="subtitle">
        <h3>Welcome to CSE Motors!</h3>
    </div>

    <!-- car section -->
    <section id="car-ad">

        <!-- image -->
        <div id="main-car">
            <img 
                id="portal-car"
                src="/images/vehicles/delorean.jpg" 
                alt="A nice and stylized futuristic gray car"
            >
        </div>

        <!-- car info -->
        <div id="car-info">
            <h4>DMC Delorean</h4>
            <ul>
                <li>3 Cup Holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dicel</li>
            </ul>
            <button id="button-ad">Own Today</button>
        </div>
    </section>

    <!-- description -->
    <section id="description">

        <!-- description -->
        <section id="reviews">
            <h3 class="subtitle">DMC Delorean Reviews</h3>
            <div id="content">
                <ul id="content-car">
                    <li>"So fast it's almost like traveling in time." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80s livin and I love it!" (5/5)</li>
                </ul>
            </div>    
        </section>

        <!-- upgrades -->
        <section id="mechanics">
            <h3 class="subtitle">Delorean Upgrades</h3>
            <div id="car-parts">
                <ul id="content-car">
                    <li>
                        <img src="" alt="">
                    </li>

                    <li>
                        <img src="" alt="">
                    </li>

                    <li>
                        <img src="" alt="">
                    </li>

                    <li>
                        <img src="" alt="">
                    </li>
                </ul>
            </div>    
        </section>


    </section>

 </section>