@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white-color: white;
  --blue-color: #03b8cd;
  --Roboto: "Roboto", sans-serif;

}


/* Mobile version */

@media only screen and (max-width: 1024px) {
  body {
    background-color: var(--white-color);
  }

  /* HEADER  */
  #top-header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    height: 10vh;
  }


  #top-header  a {
    text-decoration: none;
  }

  .siteName {
    align-self: center;
  }
  #top-header .siteName a {
    font-family: var(--Roboto); 
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
  }

  #tools {
    align-self: flex-start;
  }
  #top-header #tools a {
    color: black;
    font-size: 0.8rem;
    font-variant: small-caps;
    font-family: var(--Roboto); 
  }

  /* NAVIGATION */
   nav ul {
    background-color: #2b2929;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   }
   nav ul li {
    list-style-type: none;
    font-size: 1rem;
    color: var(--white-color);
    font-family: var(--Roboto);
    font-weight: 500;
  }

  nav ul li:hover {
    color: #c9c9c9;
    transition: all 0.2s;
  }

  /* --MAIN-- */

  .subtitle {
    font-weight: 800;
  }

  section #car-ad {
    position: relative;
  }

  section #car-info {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top:0;
    color: var(--blue-color);
  }

  section #car-info h4 {
    margin-block: 0;
    font-weight: 800;
    font-family: serif
  }

  section #car-info ul {
    margin-block: 0;
  }

  section #car-info ul li {
    list-style-type: none;
    margin-left: -2.5rem;
    font-size: 0.75rem;
    font-family: var(--Roboto);
    color: var(--blue-color);
    font-weight: 500;
  }

  section #car-info  #button-ad {
    background-color: var(--blue-color) ;
    font-family: var(--Roboto);
    font-weight: bold;
    font-size: 0.70rem;
    padding: 0.5rem;
    border: none;
    width: 80%;
  }

  section #car-info  #button-ad:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }
  

  section  #main-car {
   background-color: white;
   display: flex;
   justify-content: center;
  }

  #main-car #portal-car {  
    height: 75%;
    width: 75%;  
  }

  #reviews {
    margin-top: 1.5rem;
  }

  #content #content-car li {
    margin-left: -1.25rem;
    font-family: var(--Roboto);
    font-size: 0.75rem;
    margin-block: 1rem;
    font-weight: 500;
  }

  /* main upgrades */
  #mechanics #content-car {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-evenly;
    max-width: 20rem;
    text-align: center;
 
  }

  #mechanics #content-car .img-container{
    background-color: #03b8cd;
    width: 9rem;
    padding: 0.6rem;
   }

   .card-car {
    margin-bottom: 0.6rem;
    font-family: var(--Roboto);
    font-size: 0.8rem;
   }

   .img-card {
    max-height: 3.5rem;
    margin-bottom: -0.25rem;
   }



  /* FOOTER */
  footer p {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 0.75rem;
  }
}

@media only screen and (min-width: 800px) {
  body {
    background-color: blueviolet;
  }
}