@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --white-color: white;
  --blue-color: #03b8cd;
  --Roboto: "Roboto", sans-serif;

}


/* Mobile version */

@media only screen and (max-width: 1820px) {
  html {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0.4rem;
  }



  body {
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* HEADER  */
  #top-header {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
    height: 8vh;
  }


  #top-header  a {
    text-decoration: none;
  }

  .siteName {
    align-self: center;
  }
  #top-header .siteName a {
    font-family: var(--Roboto); 
    color: black;
    font-weight: 500;
    font-size: 1.7rem;
  }

  #tools {
    align-self: flex-start;
  }
  #top-header #tools a {
    color: black;
    font-size: 0.8rem;
    font-variant: small-caps;
    font-family: var(--Roboto); 
  }

  /* NAVIGATION */
   nav ul {
    background-color: #2b2929;
    display: flex;
    justify-content: space-between;
    padding: 0.35rem;
   }

   nav ul li {
    list-style: none;
   }

   nav ul li a {
    list-style-type: none;
    font-size: 0.85rem;
    color: var(--white-color);
    font-family: var(--Roboto);
    font-weight: 500;
    text-decoration: none;
    margin: 0.125rem;
    padding: 0.35rem;
  }

  nav ul li a:hover {
    background-color: var(--white-color);
    color: black;
    transition: all 0.2s;
  }

  /* --MAIN-- */

  .subtitle {
    font-weight: 800;
  }

  section #car-ad {
    position: relative;    
  }

  

  section #car-info {
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top:0;
    color: var(--blue-color);
  }

  section #car-info h4 {
    margin-block: 0;
    font-weight: 800;
    font-family: serif
  }

  section #car-info ul {
    margin-block: 0;

  }

  section #car-info ul li {
    list-style-type: none;
    margin-left: -2.5rem;
    font-size: 0.75rem;
    font-family: var(--Roboto);
    color: var(--blue-color);
    font-weight: 500;
  }

  section #car-info  #button-ad {
    background-color: var(--blue-color) ;
    font-family: var(--Roboto);
    font-weight: bold;
    font-size: 0.70rem;
    padding: 0.5rem;
    border: none;
    width: 80%;
    border: solid 1px #c1c1c1;
  }

  section #car-info  #button-ad:hover {
    opacity: 0.8;
    transition: all 0.2s;
  }
  

  section  #main-car {
   background-color: var(--white-color);
   display: flex;
   justify-content: center;
  }

  #main-car #portal-car {  
    height: 75%;
    width: 75%;  
  }

  #reviews {
    margin-top: 1.5rem;
  }

  #content .content-car li {
    margin-left: -1.25rem;
    font-family: var(--Roboto);
    font-size: 0.75rem;
    margin-block: 1rem;
    font-weight: 500;
  }

  /* main upgrades */
  #mechanics .content-car {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    justify-content: space-evenly;
    max-width: 20rem;
    text-align: center;
 
  }

  #mechanics .content-car .img-container{
    background-color: var(--blue-color);
    width: 9rem;
    padding: 0.6rem;
   }

   .card-car {
    margin-bottom: 0.6rem;
    font-family: var(--Roboto);
    font-size: 0.8rem;
   }

   .img-card {
    max-height: 3.5rem;
    margin-bottom: -0.25rem;
   }



  /* FOOTER */
  footer p {
    font-family: var(--Roboto);
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.5rem;
  }


  /* CUSTOM VEHICLES */
  #classification-container #classification-title h1 {
    font-family: var(--Roboto);
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  #classification-container #classification-data {
    text-align: center;
  }

  #classification-data #inv-display  {
    display: flex;
    column-gap: 1.75rem;
    row-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1.5rem;
  }

  #classification-data #inv-display  li {
    list-style: none;
    border: solid 0.5px grey;
    width: 10.5rem;
    border-radius: 0.6rem;
    height: 13rem;
  }

  #classification-data #inv-display  li:hover {
    transition: all 0.2s;
    opacity: 0.9;
    transform: scale(1.01);
  }


  #classification-data #inv-display  li div hr {
    height: 0.3rem;
    background-color: black;
  }

  #classification-data #inv-display  li a img {
    width: 100%;
    height: 50%;
    border-radius: 0.6rem;
  }


  #classification-data #inv-display  li .namePrice h2 {
    font-family: var(--Roboto);
    font-size: 0.8rem;
  }

  #classification-data #inv-display  li .namePrice span {
    font-size: 0.8rem;
  }

  /* TOOLS */

  #wrapper h1 {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    font-family: var(--Roboto);
  }

  .vehicle-detail-card__container .vehicle-detail-card__content {
    padding: 0.8rem;
  }

  .vehicle-detail-card__container .vehicle-detail-card__image-container img {
    width: 100%;
  }

  .vehicle-detail-card__container .vehicle-detail-card__content .vehicle-detail-card__text p {
    font-size: 0.80rem;
    margin-block: 1.4rem;
    padding: 0.4rem;
    font-family: var(--Roboto);
  }

  .vehicle-detail-card__container .vehicle-detail-card__content .vehicle-detail-card__text p span {
    font-weight: bold;
  }

  .vehicle-detail-card__content .vehicle-detail-card__text h2{
    font-family: var(--Roboto);
    font-size: 1rem;
  }



  .vehicle-detail-card__container .vehicle-detail-card__content .vehicle-detail-card__text > :nth-child(even) {
    background-color: #e7e7e7;
  }

  /* ERROR */

  .content__heading__title {
    font-family: var(--Roboto);
  }


  .errorMessage {
    font-weight: bold;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--Roboto);
  }

  .error_image {
    margin: auto;
    background-image: url(../images/vehicles/no-image.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 300px;
    width: 300px;
  }

}

/* -responsivity of the absolute element car-info */
@media only screen and (min-width: 390px) {
  section #car-info {
    left: 0.9rem;
    top: 1rem;
  }

  section  #main-car {
    max-width: 90%;
  }

}

@media only screen and (min-width: 460px) {
  section #car-info {
    left: 1rem;
    top: 1.5rem;
    font-size: 1.1rem;
  }

  section  #main-car {
    max-width: 90%;
  }

  #button-ad {
    margin-top: 1rem; 
  }
}

@media only screen and (min-width: 650px) {

  
  html {
    background-image: url("/images/site/small_check.jpg");
    font-size: 110%;
  }
  body {
    
    border:  solid var(--blue-color) 0.2rem;
    border-radius: 0.5rem;
    max-width: 516px;
    margin-inline: auto;
    margin-block: 0.5rem;
    padding: 0.5rem;
  }

  #car-info h4 {
    margin-left: -0.2rem;
  }

  #car-info ul li {
    margin-left: -2rem;
  }

  #button-ad {
    margin-left: -0.35rem;
  }


}

@media only screen and (min-width: 860px) {
  html {
    font-size: 110%;
  }

}

@media only screen and (min-width: 1024px) {

  html {
    font-size: 150%;
  }

  body {
    max-width: 1000px;
    padding: 1rem;
  } 

  nav ul {
    padding: 0.8rem;
  }

  #description {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  #reviews {
    margin-top: 0rem;
  }

  #mechanics .content-car {
    display: flex;
    flex-wrap: wrap;

  }

  #mechanics .content-car li {
    padding: 0.35rem;
  }



  #car-info {
    padding: 1rem;
  }

  #car-info h4 {
    margin-left: -0.5rem;
  }

  #car-info ul li{
    margin-left: -2rem !important;
  }

  #button-ad {
    margin-left: -0.5rem;
  }

  #content .content-car li {
    padding: 0.25rem;
  }


  footer p {
    margin-bottom: -1rem;
  }

  footer a {
    font-size: 0.8rem;
  }



  /* CUSTOM VEHICLES */

  #wrapper {
    width: 900px;
  }

  #classification-container #classification-title h1 {
    font-size: 1.35rem;
  }


  /* TOOLS */

  #wrapper h1 {
    font-size: 1.3rem;
  }

  .vehicle-detail-card__container .vehicle-detail-card__content {
    display: flex;
    gap: 0.2rem;
  }

  .vehicle-detail-card__container .vehicle-detail-card__image-container  {
    padding: 1rem;
  }

  .vehicle-detail-card__container .vehicle-detail-card__image-container img {
    width: 15rem;
  }

  .vehicle-detail-card__content .vehicle-detail-card__text h2{
    font-size: 0.8rem;
  }


}





/* -----FORM----- */

/* views/account/login.css */

#login-body {
  font-family: var(--Roboto);
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.flash-message {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #d8d8f6;
  border: 1px solid #cec6f5;
  border-radius: 5px;
  color: #721c24;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

#signup-link {
  text-align: center;
  margin-top: 20px;
}

#signup-link a {
  color: #007bff;
  text-decoration: none;
}

#signup-link a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .container {
      max-width: 90%;
  }
}

