
<div class="container-management">
    <h1>Vehicle Management</h1>

<% if (messages.length > 0) { %>
  <div class="flash-message">
    <% messages.forEach(function(message) { %>
      <p><%= message %></p>
    <% }); %>
  </div>
<% } %>

<a href="/inv/add-classification">Add New Classification</a>
<a href="/inv/add-inventory">Add New Inventory Item</a>
</div>


